.footer{
    width: 100vw;
    height: 4rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    flex-direction: column;
    color: #8391a0;
}

.creator{
    color: #03ffff;
}